<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Services Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="artistSearch">
<div ng-controller="formController as fc">
    <input type="text" ng-model="fc.artist">
    <button ng-click="fc.retrieveData()">Search</button>
    <table>
        <thead>
            <tr>
                <th>Arist Name</th>
                <th>Artwork</th>
                <th>Track</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in fc.results">
                <td>{{ result.artistName }}</td>
                <td><img ng-src="{{ result.artworkUrl100 }}"></td>
                <td>{{ result.trackName }}</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="script.js"></script>
</body>
</html>